@import '../../styles/main';

.wrapper{
  margin-top: 2rem;
}

.label {
  display: block;
}

.input {
  border: 1px solid $inputBorder;
  display: block;
  font-size: 1.2rem;
  margin-top: .5rem;
  outline: none;
  padding: .5rem;
}

.required {
  color: $warning;
  margin-left: .4rem;
}
