@import '../../../styles/main';

.wrapper {
  margin: 1rem 0;

  @media only screen and (min-width: $small) {
   margin: 3rem 0;
  }

  @media only screen and (min-width: $large) {
   margin: 4rem 0;
  }
}

.logo {
  height: 64px;
  width: 110px;

  @media only screen and (min-width: $small) {
    height: 87px;
    width: 150px;
  }

  @media only screen and (min-width: $large) {
    height: 116px;
    width: 200px;
  }
}


// 350 204
