// COLORS

$red: #FF0000;
$red_dark: #B90101;

$orange: #F09900;
$orange_dark: #D98B01;

$green: #098D09;
$green_dark:  #045704;

$blue: #0F69D3;
$blue_dark: #094183;

$purple: #7200FF;
$purple_dark: #3D0188;

$med_gray: #F2DCDA;
$light_gray: #FAFAFA;
$white: #FFFFFF;
$text: #434343;
$shadow: #aaa;
$gbar: #639022;
$step: #CE8E30;
$inputBorder: #5146F5;
$inputHighlight: #e8e7fe;
$warning: #FF0000;
$button: #6820F5;
$buttonHighlight: #eee7fe;

// FONT SIZES
$bannerText: 1.5rem;
$inputText: 1.2rem;

// SCREEN SIZES
$extra_small: 576px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra_large: 1200px;

// SPACING and DIMENSIONS
$componentMargin: 2rem;
$borderRadius: .2rem;
