@import '../../styles/variables';

.primaryLayout {
  align-items: center;
  display: grid;
  grid-template-areas:
    ". hdr ."
    "gbar gbar gbar"
    ". wrpr .";

  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: auto 4rem 1fr;


  @media only screen and (min-width: $small) {
    grid-template-columns: 3rem 1fr 3rem;
    grid-template-rows: auto 3rem 1fr;
  }

  @media only screen and (min-width: $large) {
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: auto 3rem 1fr;
  }
}

.header {
  grid-area: hdr;
}

.prideBar {
  grid-area: gbar;
  background-color: rgba(99,144,34,0.76);
  padding: 1rem;
}

.contentWrapper {
  grid-area: wrpr;
}
