@import '../../styles/main';

.wrapper {
  margin: 0;
  width: 100%;

  @media only screen and (min-width: $small) {
    margin: auto;
    width: 80%;
  }

  @media only screen and (min-width: $large) {
    margin: auto;
    width: 50%;
  }
}
