@import '../../styles/variables';

.header {
  margin: 2rem 0;

  @media only screen and (min-width: $small) {
   margin: 3rem 0;
  }

  @media only screen and (min-width: $large) {
   margin: 4rem 0;
  }
}

.logo {
  height: 58px;
  width: 100px;

  @media only screen and (min-width: $small) {
    height: 87px;
    width: 150px;
  }

  @media only screen and (min-width: $large) {
    height: 116px;
    width: 200px;
  }
}


// 350 204
