@import '../../../styles/main';

.wrapper{
  padding-top: $componentMargin;
}

.label {
  display: block;
}

.input {
  border: 1px solid $inputBorder;
  border-radius: $borderRadius;
  color: $text;
  display: block;
  font-size: $inputText;
  margin-top: .5rem;
  outline: none;
  padding: .5rem .7rem;
  width: 100%;
}

.required {
  color: $warning;
  margin-left: .3rem;
}
